Flask
flask-cors
eth-account
web3
python-dotenv
Flask
flask_cors
eth_account
web3
python-dotenv
gunicorn
face_recognition
opencv-python
numpy
requests
eth-account
eth-utils
hexbytes
web3
cryptography
